html {
  font-size: 16px;
}

body {
  color: #4D4D4D;
  background: #DCD5CD;
  width: 100%;
  margin: 0 40px;
  height: auto;
}

body .wrap {
  width: 100%;
  height: auto;
}

body .wrap header {
  background: #DCD5CD;
  position: fixed;
  width: 100%;
  height: 200px;
  border-bottom: 5px solid #4D4D4D;
}

body .wrap header h1 {
  font-size: 7rem;
  text-align: center;
  line-height: 200px;
}

body .wrap main {
  width: 100%;
  height: auto;
  padding-top: 200px;
}

body .wrap main .day {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #707070;
  border-bottom: 3px solid #707070;
  margin-top: 20px;
}

body .wrap main .day .selectColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
